<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/animations.css">
    <title>Endereço</title>
</head>
<body>
        <header class="cabecalho">
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="cep.html">Consulta de Cep</a></li>
                <li><a href="">Clima</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </nav>
    </header>
<br><br>
<br>
    <div class="Conteudo">
        <div class="consulta">
            <label>Digite seu CEP(apenas os números):</label>
            <input type="text" id="cep" name="cep">
            
        </div><br>
        <div><button type="button" onclick="checarEnd()">Checar localização do CEP</button></div>
    </div>

    <div id="container">

        <div id="usercep">
           
        </div>

        <div id="userlogradouro">

        </div>

        <div id="userbairro">
            
        </div>

        <div id="usercidadeuf">
            
        </div>

        



    <footer>
        <div class="footer">
            <li><a href="../index.html">Home</a></li>
            <li>Contato: +XX (xx)Xxxxx-xxxx</li>
        </div>
    </footer>

    <script src="../assets/JS/enderecoAPI.js"></script>
</body>
</html>