<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/animations.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>Endereço</title>
</head>
<body>
    <div id="background-image">

        <header class="cabecalho">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">ClickTempo</a>
              <div class="navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                  <a class="nav-link" href="#">Consultar CEP</a>
                  <a class="nav-link" href="#">Sobre</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
<br><br>

    <div class="Conteudo">
        <div class="consulta">
            <label>Digite seu CEP(apenas os números):</label>
            <input type="text" id="cep" name="cep">
            
        </div><br>
        <div><button type="button" onclick="checarEnd()">Checar localização do CEP</button></div>
    </div>

    <div id="container">

        <div id="usercep">
           
        </div>

        <div id="userlogradouro">

        </div>

        <div id="userbairro">
            
        </div>

        <div id="usercidadeuf">
            
        </div>

        



        <div class="my-5">

            <footer class="bg-dark text-center text-white fixed-bottom">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>
          
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-twitter"></i
                ></a>
          
                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-google"></i
                ></a>
          
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
          
                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
          
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/gabrielback/ProjetoFinalJavaScript" target="_blank" role="button"
                  ><i class="fab fa-github"></i
                > </a>
              </section>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2022
              <br>
              <a>Desenvolvido por alunos do Programa Entra21</a>
            </div>
            <!-- Copyright -->
          </footer>
            
          </div>
</div>
    <script src="../assets/JS/enderecoAPI.js"></script>
    <script src="../assets/JS/clima.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>