.slide-bl {
    animation: slide-bl .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-bl {
    0% {
        transform: translateY(-1080px) translateX(2000PX)
    }

    100% {
        transform: translateY(0) translateX(0px)
    }
}

